<div class='backgroundhome'>
  <div style="padding-top: 9%">
  <div class='box_around'>
  <form action="/search" class="search-form">
  <h2>Enter a restaurant</h2>
  <input tpye="text" name="searchTerm" placeholder="Enter Restaurant Name" style=width:100%>
  <br><br>
  <button type="submit" class="bttn-gradient bttn-md bttn-primary">Restaurant Search</button>
  </form>
  <form action="/restaurant/new" class="search-form2">
  <h2>Or</h2>
  <h2>Submit Information For New Restaurant</h2>
  <button type="submit" class="bttn-gradient bttn-md bttn-primary">Click To Submit A Restaurant</button>
</div>
</div>
</div>
