<div class='backgroundsearch'>
<h1 style="text-align:center; padding-top: 100px">Search Results</h1>
<ul class='resultsList'>
  {{#each results}}
    <li>
      <a href="/restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
      <br>{{restaurant.location.address}}<br>
    </li>
  {{/each}}
</ul>
</div>
