<div class='backgroundhome'>
  <form action="/search" class="search-form">
  <h2>Enter a restaurant</h2>
  <input tpye="text" name="searchTerm" placeholder="Enter Restaurant Name">
  <br><br>
  <button type="submit">Restaurant Search</button>
  </form>
  <form action="/restaurant/new" class="search-form2">
  <h2>Or</h2>
  <h2>Submit Information For New Restaurant</h2>
  <button type="submit">Click To Submit A Restaurant</button>
</div>
