<div class='backgroundhome'>
  <form action="/search" class="search-form">
  <h1>Enter a restaurant</h1>
  <input tpye="text" name="searchTerm">
  <br><br>
  <button type="submit">Restaurant Search</button>
</form>
</div>
