<div class='backgroundsearch'>
<h1>Search Results</h1>
<ul class='resultsList'>
  {{#each results}}
    <li>
      <a href="/restaurant/{{id}}">{{name}}</a>
      <br>{{address}}<br>
      {{category}}
    </li>
  {{/each}}
</ul>
</div>
