.backgroundhome {
  text-align: center;
  height: 100vh;
  background: url('/static/restaurant.jpg') no-repeat center center fixed;
  /*background-size: contain;*/
  font-family: sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
}

.backgroundsearch {
background: url('/static/chalkboard.jpg') no-repeat center center fixed;
/*background-size: contain;*/
font-family: sans-serif;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
color: white;
height: 100vh
}



html, body {
  text-align: center;
  margin: 0px;
  padding: 0px
}

.search-form {
  padding-top: 100px;
}

.search-form input,
.search-form button {
  font-size: 1.5em;
}

.search-form2 input,
.search-form2 button {
  font-size: 1.5em;
}

.resultsList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
